.userFormContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.userForm {
  display: flex;
  flex-direction: column;
}

.userForm label {
  display: flex;
  flex-direction: column;
}