.userFormContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-style: solid;
  padding: 5px;
  min-width: 270px;
}

.userForm {
  display: flex;
  flex-direction: column;
}

.userForm label {
  display: flex;
  flex-direction: column;
}
