.resume {
  padding: 0;
  margin: 0;
  border-style: solid;
  flex-grow: 1;
  max-width: 210mm;
  min-width: 210mm;
  max-height: 297mm;
  min-height: 297mm;
}

hr {
  width: 90%;
}

p {
  margin: 10px;
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionHeading {
  margin: 0;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 40px 0px 40px;
}

.resumeHoriStack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}