.resume {
  padding: 0;
  margin: 0;
  border-style: dashed;
  height: 100vh;
  flex-grow: 1;
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eduInfoContainer {
  display: flex;
  flex-direction: column;
}